.DS_Store
Final/document_generator/__pycache__/config.cpython-312.pyc
Final/document_generator/__pycache__/document.cpython-312.pyc
Final/document_generator/__pycache__/styles.cpython-312.pyc
Final/document_generator/__pycache__/generators.cpython-312.pyc
Final/document_generator/__pycache__/utils.cpython-312.pyc
Project/document_genera/Dataset_images/
Project/document_generator/Dataset_images
